# Домашнее задание 1 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import glob

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [3]:
#your code here
path = r'/content/drive/MyDrive/@/Data'

info = glob.glob(path + "/Students_info_*.csv")
marks = glob.glob(path + "/Students_marks_*.csv")

def conc(files):
    
    lst = []
    for filename in files:
        df = pd.read_csv(filename, index_col='index', header=0)
        lst.append(df)

    frame = pd.concat(lst, axis=0)
    frame.sort_index(inplace=True)
    return frame

In [4]:
info_df = conc(info)
marks_df = conc(marks)
df = info_df.join(marks_df) #left use by default
df

       gender race/ethnicity  ... reading score writing score
index                         ...
0      female        group B  ...            72            74
1      female        group C  ...            90            88
2      female        group B  ...            95            93
3        male        group A  ...            57            44
4        male        group C  ...            78            75
...       ...            ...  ...           ...           ...
995    female        group E  ...            99            95
996      male        group C  ...            55            55
997    female        group C  ...            71            65
998    female        group D  ...            78            77
999    female        group D  ...            86            86

[1000 rows x 9 columns]

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [5]:
#your code here
df.reset_index(drop=True, inplace=True) # obliterate old index and reset free space between columns names and table
df.head(10)

   gender race/ethnicity  ... reading score writing score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75
5  female        group B  ...            83            78
6  female        group B  ...            95            92
7    male        group B  ...            43            39
8    male        group D  ...            64            67
9  female        group B  ...            60            50

[10 rows x 9 columns]

#### Задание 3. Выведите на экран размеры полученной таблицы

In [6]:
# your code here
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [7]:
# your code here
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [8]:
# your code here
!pip install sidetable # install & import one nice tool
import sidetable

Requirement already satisfied: sidetable in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from sidetable) (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->sidetable) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->sidetable) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->sidetable) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->sidetable) (1.15.0)

In [9]:
df.stb.missing() # use sidetable to take df quick info for missing values

                             missing  total  percent
gender                             0   1000      0.0
race/ethnicity                     0   1000      0.0
parental level of education        0   1000      0.0
lunch                              0   1000      0.0
test preparation course            0   1000      0.0
group                              0   1000      0.0
math score                         0   1000      0.0
reading score                      0   1000      0.0
writing score                      0   1000      0.0

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [10]:
# your code here
df.mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [11]:
# your code here
pd.pivot_table(df, index=['test preparation course'], aggfunc='mean')

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [12]:
# your code here
print(*df['lunch'].unique(), sep='\n')

standard
free/reduced

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [13]:
# your code here
df.rename(columns={'parental level of education':'education', 'test preparation course':'test preparation'}, 
          inplace=True)

print(*df.head(0), sep='\n')

gender
race/ethnicity
education
lunch
test preparation
group
math score
reading score
writing score

**Зафиксируем минимальный балл для сдачи экзамена**

In [14]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark > 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [15]:
# your code here

# доля студентов сдала экзамен по математике (passmark > 50)
len(df[df['math score'] > passmark])/len(df)

0.85

In [16]:
# доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике
round(len(df[(df['math score'] > passmark) & (df['test preparation'] == "completed")])/len(df[df['test preparation'] == "completed"]), 2)

0.91

In [17]:
# доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике
round(
      len(df[(df['math score'] < passmark) & (df['test preparation'] == "none") & (df['gender'] == "female")])/len(df[df['gender'] == "female"]),
      2)

0.14

In [18]:
round(
      len(df[(df['math score'] < passmark) & (df['test preparation'] == "none") & (df['gender'] == "female")])/
      len(df[(df['test preparation'] == "none") & (df['gender'] == "female")]),
      2)

0.21

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [19]:
!pip install ipython-autotime
%load_ext autotime

Requirement already satisfied: ipython-autotime in /usr/local/lib/python3.7/dist-packages (0.3.1)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from ipython-autotime) (5.5.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (57.4.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (0.7.5)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (0.8.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (1.0.18)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (4.8.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (4.4.2)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (5.0.5)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (2.6.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->ipython-autotime) (0.2.5)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->ipython-autotime) (1.15.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from traitlets>=4.2->ipython->ipython-autotime) (0.2.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython->ipython-autotime) (0.7.0)
time: 177 µs (started: 2021-09-08 08:32:42 +00:00)

In [20]:
# your code here

# средний балл за экзамен по чтению для каждой этнической группы

df.groupby('race/ethnicity')['reading score'].mean()

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

time: 9.74 ms (started: 2021-09-08 08:32:42 +00:00)

In [21]:
# минимальный балл за экзамен по письму ля каждого уровня образования

df.groupby('education')['writing score'].min()

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

time: 8.66 ms (started: 2021-09-08 08:32:42 +00:00)

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [22]:
# your code here

time: 1.24 ms (started: 2021-09-08 08:32:42 +00:00)

In [23]:
eth = set(df['race/ethnicity'])
pd.Series({x: df[df['race/ethnicity'].str.match(x)]['reading score'].mean()
for x in eth}).sort_values(ascending = True)

group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
dtype: float64

time: 17.1 ms (started: 2021-09-08 08:32:42 +00:00)

In [24]:
edc = set(df['education'])
pd.Series({x: df[df['education'].str.match(x)]['writing score'].min()
for x in edc})

high school           15
some college          19
associate's degree    35
master's degree       46
some high school      10
bachelor's degree     38
dtype: int64

time: 16.7 ms (started: 2021-09-08 08:32:42 +00:00)

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [25]:
# your code here
pd.pivot_table(df, index=['gender', 'education'] ,aggfunc='mean')

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

time: 25.8 ms (started: 2021-09-08 08:32:42 +00:00)

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [26]:
# your code here
import numpy as np
df['Math_PassStatus'] = np.where(df['math score'] > passmark, "P", "F")
df['Math_PassStatus'].value_counts()

P    850
F    150
Name: Math_PassStatus, dtype: int64

time: 8.96 ms (started: 2021-09-08 08:32:42 +00:00)

In [27]:
df['Reading_PassStatus'] = np.where(df['reading score'] > passmark, "P", "F")
df['Reading_PassStatus'].value_counts()

P    903
F     97
Name: Reading_PassStatus, dtype: int64

time: 9.19 ms (started: 2021-09-08 08:32:42 +00:00)

In [28]:
df['Writing_PassStatus'] = np.where(df['writing score'] > passmark, "P", "F")
df['Writing_PassStatus'].value_counts()

P    876
F    124
Name: Writing_PassStatus, dtype: int64

time: 10.2 ms (started: 2021-09-08 08:32:42 +00:00)

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [29]:
# your code here
def OverAll(data_frame, col1, col2, col3):
    data_frame.loc[
                   (data_frame[col1] == "F") |
                   (data_frame[col2] == "F") |
                   (data_frame[col3] == "F"), 'OverAll_PassStatus'] = "F"
    
    data_frame.loc[
                   (data_frame[col1] == "P") &
                   (data_frame[col2] == "P") &
                   (data_frame[col3] == "P"), 'OverAll_PassStatus'] = "P"

OverAll(df, 'Math_PassStatus', 'Reading_PassStatus', 'Writing_PassStatus')
df['OverAll_PassStatus'].value_counts()

P    796
F    204
Name: OverAll_PassStatus, dtype: int64

time: 18 ms (started: 2021-09-08 08:32:42 +00:00)

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####      [90;100] = A
####      [80;90) = B
####      [70;80) = C
####      [60;70) = D
####      [50;60) = E
####      [0;50) = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [30]:
def GetGrade(average_mark):
    # your code here
    
    if average_mark < 50:
        return "F (Fail)"
    elif (average_mark >= 50) & (average_mark < 60):
        return "E"
    elif (average_mark >= 60) & (average_mark < 70):
        return "D"
    elif (average_mark >= 70) & (average_mark < 80):
        return "C"
    elif (average_mark >= 80) & (average_mark < 90):
        return "B"
    elif (average_mark >= 90):
        return "A"



def GetGrade_2(data_frame):
    data_frame.loc[(data_frame.mean(axis=1) < 50), 'Grade_2'] = "F (Fail)"
    data_frame.loc[(data_frame.mean(axis=1) >= 50) & (data_frame.mean(axis=1) < 60), 'Grade_2'] = "E"
    data_frame.loc[(data_frame.mean(axis=1) >= 60) & (data_frame.mean(axis=1) < 70), 'Grade_2'] = "D"
    data_frame.loc[(data_frame.mean(axis=1) >= 70) & (data_frame.mean(axis=1) < 80), 'Grade_2'] = "C"
    data_frame.loc[(data_frame.mean(axis=1) >= 80) & (data_frame.mean(axis=1) < 90), 'Grade_2'] = "B"
    data_frame.loc[(data_frame.mean(axis=1) >= 90), 'Grade_2'] = "A"



# your code here

time: 15.2 ms (started: 2021-09-08 08:32:42 +00:00)

In [31]:
df['Grade'] = df.mean(axis=1)
for i in range(0, len(df)):
    df['Grade'][i] = GetGrade(df['Grade'][i])

time: 93.5 ms (started: 2021-09-08 08:32:42 +00:00)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [32]:
GetGrade_2(df)

time: 37.4 ms (started: 2021-09-08 08:32:42 +00:00)

In [33]:
(df['Grade'] == df['Grade_2']).value_counts()

True    1000
dtype: int64

time: 7.2 ms (started: 2021-09-08 08:32:42 +00:00)

In [34]:
df['Grade'].value_counts()

C           261
D           256
E           182
B           146
F (Fail)    103
A            52
Name: Grade, dtype: int64

time: 6.94 ms (started: 2021-09-08 08:32:42 +00:00)

In [35]:
df['Grade_2'].value_counts()

C           261
D           256
E           182
B           146
F (Fail)    103
A            52
Name: Grade_2, dtype: int64

time: 8.6 ms (started: 2021-09-08 08:32:42 +00:00)

In [36]:
# %%shell
# SCALA_VERSION=2.12.8 ALMOND_VERSION=0.3.0+16-548dc10f-SNAPSHOT
# curl -Lo coursier https://git.io/coursier-cli
# chmod +x coursier
# ./coursier bootstrap \
#     -r jitpack -r sonatype:snapshots \
#     -i user -I user:sh.almond:scala-kernel-api_$SCALA_VERSION:$ALMOND_VERSION \
#     sh.almond:scala-kernel_$SCALA_VERSION:$ALMOND_VERSION \
#     --sources --default=true \
#     -o almond-snapshot --embed-files=false
# rm coursier
# ./almond-snapshot --install --global --force
# rm almond-snapshot

time: 2.75 ms (started: 2021-09-08 08:32:42 +00:00)

In [37]:
# %%shell
# echo "{
#   \"language\" : \"scala\",
#   \"display_name\" : \"Scala\",
#   \"argv\" : [
#     \"bash\",
#     \"-c\",
#     \"env LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libpython3.6m.so:\$LD_PRELOAD java -jar /usr/local/share/jupyter/kernels/scala/launcher.jar --connection-file {connection_file}\"
#   ]
# }" > /usr/local/share/jupyter/kernels/scala/kernel.json

time: 2.32 ms (started: 2021-09-08 08:32:42 +00:00)

In [38]:
# def GetGrade_3(average_mark: Any): String = average_mark match {
    
#     case (average_mark < 50) => "F (Fail)"
#     case ((average_mark >= 50) & (average_mark < 60)) => "E"
#     case ((average_mark >= 60) & (average_mark < 70)) => "D"
#     case ((average_mark >= 70) & (average_mark < 80)) => "C"
#     case ((average_mark >= 80) & (average_mark < 90)) => "B"
#     case (average_mark >= 90) => "A"
# }

time: 2.11 ms (started: 2021-09-08 08:32:42 +00:00)